
<div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Adauga Produs</span>
    </div>
    <input type="text" aria-label="nume" [(ngModel)]="nume" class="form-control" placeholder="nume">
    <input type="text" aria-label="details" [(ngModel)]="details" class="form-control" placeholder="details">
    <input type="text" aria-label="pret" [(ngModel)]="pret" class="form-control" placeholder="pret">
    <input type="text" aria-label="cantitate" [(ngModel)]="cantitate" class="form-control" placeholder="cantitate">
    <button class="btn btn-primary" (click)="addItem()">Add</button>
  </div>


  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nume</th>
        <th scope="col">Detalii</th>
        <th scope="col">Pret</th>
        <th scope="col">Cantitate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of list; let i = index" [ngClass]="{'finished': task.finished}">
        <td>{{task.nume}}</td>
        <td>{{task.details}}</td>
        <td>{{task.pret}}</td>
        <td>{{task.cantitate}}</td>
      </tr>
    </tbody>
  </table>