<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="/main-page">{{title}}</a>

    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" routerLink="/details" le="tab"
            aria-controls="nav-home" aria-selected="true">Details</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" routerLink="/cart" role="tab"
            aria-controls="nav-profile" aria-selected="false">Cos de cumparaturi</a>
        <a class="nav-item nav-link active" id="nav-contact-tab" data-toggle="tab" routerLink="/admin" role="tab"
            aria-controls="nav-contact" aria-selected="false">Admin</a>
    </div>
</nav>