
<div></div>
<table class="table">
    <thead>
        <th>Nume</th>
        <th>Pret</th>
        <th></th>
    </thead>
    <ng-container *ngFor="let key of keys">
        <tr class="table" >
            <td>{{products[key].name}}</td>
            <td>{{products[key].pret}}$</td>
            <td>
                <a (click)="doubleProduct(products[key],key)">+</a>
            </td>
            <td>
                <button class="btn btn-outline-danger" (click)="deleteProdCart(key)" >Delete</button>
            </td>
        </tr>
    </ng-container>
    </table>

    {{productsInCart}}
    {{totalPrice}}

    <div>
        <button class="btn btn-danger" (click)="clearCart()">Goleste Cosul</button>
        <button class="btn btn-success" (click)="order()">Comada</button>
    </div>