<div>
    <button class="btn btn-danger" (click)="clearCart()">Clear Cart</button>
</div>

<table class="table">
    <thead>
        <th>Nume</th>
        <th>Details</th>
        <th>Pret</th>
        <th>Cantitate</th>
        <th></th>
    </thead>
    <ng-container *ngFor="let key of keys">
        <tr class="table" >
            <td>{{products[key].name}}</td>
            <td>{{products[key].details}}</td>
            <td>{{products[key].pret}}$</td>
            <td>{{products[key].cantitate}} buc.</td>
            <td>
                <button class="btn btn-outline-danger" (click)="deleteProdCart()" >Delete</button>
            </td>
        </tr>
    </ng-container>
    </table>