<div class="alert alert-info" *ngIf="showSuccessMessage">
    Adaugare cu succes.
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let key of keys">
            <div class="product-grid">
                <div class="product-image">
                        <img class="pic-1" [src]="products[key].imageUrl">
                </div>
                <div class="product-content">
                    <h3 class="title">{{products[key].name}}</h3>
                    <h5>{{products[key].stock}}</h5>
                    <div class="price">
                        ${{products[key].pret}}
                    </div>
                </div>
                <ul class="social">
                    <li><a (click)="viewProductDetails(products[key])" data-tip="View Details"><i class="fa fa-search"></i></a></li>
                    <li><a (click)="addToCart(products[key], key)" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>